In [1]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

In [2]:
temperature=pd.read_excel("./暑假培训第四题（8.15-17）/附件1(Attachment 1).xlsx",sheet_name=0)
quality=pd.read_excel("./暑假培训第四题（8.15-17）/附件1(Attachment 1).xlsx",sheet_name=1)
parameter=pd.read_excel("./暑假培训第四题（8.15-17）/附件1(Attachment 1).xlsx",sheet_name=2)

temperature,quality,parameter

(                时间 (Time)  系统I温度 (Temperature of system I)  \
 0     2022-01-13 00:01:00                          1173.81
 1     2022-01-13 00:02:00                          1172.70
 2     2022-01-13 00:03:00                          1172.92
 3     2022-01-13 00:04:00                          1173.19
 4     2022-01-13 00:05:00                          1173.06
 ...                   ...                              ...
 14224 2022-01-22 23:55:00                          1405.78
 14225 2022-01-22 23:56:00                          1404.50
 14226 2022-01-22 23:57:00                          1406.13
 14227 2022-01-22 23:58:00                          1404.02
 14228 2022-01-22 23:59:00                          1405.74

        系统II温度 (Temperature of system II)
 0                                 814.93
 1                                 813.51
 2                                 813.71
 3                                 813.69
 4                                 813.80
 ...                                  ...
 14224                             932.26
 14225                             931.11
 14226                             931.68
 14227                             931.04
 14228                             931.81

 [14229 rows x 3 columns],
               时间 (Time)  指标A (index A)  指标B (index B)  指标C (index C)  \
 0   2022-01-13 00:50:00          78.26          25.54          12.24
 1   2022-01-13 01:50:00          78.16          25.27          12.24
 2   2022-01-13 02:50:00          78.15          26.21          12.93
 3   2022-01-13 03:50:00          78.39          25.22          12.93
 4   2022-01-13 04:50:00          79.22          24.60          12.41
 ..                  ...            ...            ...            ...
 235 2022-01-22 19:50:00          79.76          22.00          11.72
 236 2022-01-22 20:49:00          80.51          22.00          11.37
 237 2022-01-22 21:50:00          80.16          21.78          10.85
 238 2022-01-22 22:50:00          79.79          22.58          11.20
 239 2022-01-22 23:50:00          80.19          21.69          10.68

      指标D (index D)
 0            14.14
 1            14.32
 2            14.59
 3            14.28
 4            13.70
 ..             ...
 235          18.84
 236          18.53
 237          17.90
 238          17.05
 239          17.19

 [240 rows x 5 columns],
     时间 (Time)  原矿参数1 (Mineral parameter 1)  原矿参数2 (Mineral parameter 2)  \
 0  2022-01-13                        49.24                        90.38
 1  2022-01-14                        47.95                        86.09
 2  2022-01-15                        54.04                        97.16
 3  2022-01-16                        54.55                        99.46
 4  2022-01-17                        53.21                       100.56
 5  2022-01-18                        54.03                       102.30
 6  2022-01-19                        54.99                       119.40
 7  2022-01-20                        55.11                       110.83
 8  2022-01-21                        51.24                        88.26
 9  2022-01-22                        54.74                        93.05
 10 2022-01-23                        52.75                        96.87
 11 2022-01-24                        57.50                       108.62

     原矿参数3 (Mineral parameter 3)  原矿参数4 (Mineral parameter 4)
 0                         46.13                        28.16
 1                         45.89                        25.99
 2                         48.97                        22.14
 3                         45.04                        22.19
 4                         46.31                        21.65
 5                         47.28                        21.47
 6                         41.97                        19.69
 7                         42.69                        21.63
 8                         48.24                        23.28
 9                         49.03                        21.48
 10                        46.61                        22.91
 11                        44.50                        20.09  )

In [3]:
temperature.columns

Index(['时间 (Time)', '系统I温度 (Temperature of system I)',
       '系统II温度 (Temperature of system II)'],
      dtype='object')

''''1/17/07 has the format "%m/%d/%y"
17-1-2007 has the format "%d-%m-%Y"

In [4]:
temperature["date"]=pd.to_datetime(pd.to_datetime(temperature["时间 (Time)"],format="%m-%d-%Y").dt.strftime("%Y-%m-%d"))
temperature.columns=["Time","系统I温度 (Temperature of system I)","系统II温度 (Temperature of system II)","date"]
temperature.head()

,Time,系统I温度 (Temperature of system I),系统II温度 (Temperature of system II),date
0,2022-01-13 00:01:00,1173.81,814.93,2022-01-13
1,2022-01-13 00:02:00,1172.70,813.51,2022-01-13
2,2022-01-13 00:03:00,1172.92,813.71,2022-01-13
3,2022-01-13 00:04:00,1173.19,813.69,2022-01-13
4,2022-01-13 00:05:00,1173.06,813.80,2022-01-13

In [5]:
temperature=temperature.merge(parameter,left_on="date",right_on="时间 (Time)",how="left")
temperature

,Time,系统I温度 (Temperature of system I),系统II温度 (Temperature of system II),date,时间 (Time),原矿参数1 (Mineral parameter 1),原矿参数2 (Mineral parameter 2),原矿参数3 (Mineral parameter 3),原矿参数4 (Mineral parameter 4)
0,2022-01-13 00:01:00,1173.81,814.93,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16
1,2022-01-13 00:02:00,1172.70,813.51,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16
2,2022-01-13 00:03:00,1172.92,813.71,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16
3,2022-01-13 00:04:00,1173.19,813.69,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16
4,2022-01-13 00:05:00,1173.06,813.80,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16
...,...,...,...,...,...,...,...,...,...
14224,2022-01-22 23:55:00,1405.78,932.26,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48
14225,2022-01-22 23:56:00,1404.50,931.11,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48
14226,2022-01-22 23:57:00,1406.13,931.68,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48
14227,2022-01-22 23:58:00,1404.02,931.04,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48
14228,2022-01-22 23:59:00,1405.74,931.81,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48

In [6]:
quality["时间 (Time)"].iloc[0]

Timestamp('2022-01-13 00:50:00')

In [7]:
import datetime
quality["dt"]=quality["时间 (Time)"].apply(lambda x:x-datetime.timedelta(hours=2))
quality

,时间 (Time),指标A (index A),指标B (index B),指标C (index C),指标D (index D),dt
0,2022-01-13 00:50:00,78.26,25.54,12.24,14.14,2022-01-12 22:50:00
1,2022-01-13 01:50:00,78.16,25.27,12.24,14.32,2022-01-12 23:50:00
2,2022-01-13 02:50:00,78.15,26.21,12.93,14.59,2022-01-13 00:50:00
3,2022-01-13 03:50:00,78.39,25.22,12.93,14.28,2022-01-13 01:50:00
4,2022-01-13 04:50:00,79.22,24.60,12.41,13.70,2022-01-13 02:50:00
...,...,...,...,...,...,...
235,2022-01-22 19:50:00,79.76,22.00,11.72,18.84,2022-01-22 17:50:00
236,2022-01-22 20:49:00,80.51,22.00,11.37,18.53,2022-01-22 18:49:00
237,2022-01-22 21:50:00,80.16,21.78,10.85,17.90,2022-01-22 19:50:00
238,2022-01-22 22:50:00,79.79,22.58,11.20,17.05,2022-01-22 20:50:00
239,2022-01-22 23:50:00,80.19,21.69,10.68,17.19,2022-01-22 21:50:00

In [8]:
quality.drop(quality.index[:2],inplace=True)
quality

,时间 (Time),指标A (index A),指标B (index B),指标C (index C),指标D (index D),dt
2,2022-01-13 02:50:00,78.15,26.21,12.93,14.59,2022-01-13 00:50:00
3,2022-01-13 03:50:00,78.39,25.22,12.93,14.28,2022-01-13 01:50:00
4,2022-01-13 04:50:00,79.22,24.60,12.41,13.70,2022-01-13 02:50:00
5,2022-01-13 05:50:00,79.52,23.88,11.55,13.56,2022-01-13 03:50:00
6,2022-01-13 06:50:00,80.04,23.48,11.55,13.47,2022-01-13 04:50:00
...,...,...,...,...,...,...
235,2022-01-22 19:50:00,79.76,22.00,11.72,18.84,2022-01-22 17:50:00
236,2022-01-22 20:49:00,80.51,22.00,11.37,18.53,2022-01-22 18:49:00
237,2022-01-22 21:50:00,80.16,21.78,10.85,17.90,2022-01-22 19:50:00
238,2022-01-22 22:50:00,79.79,22.58,11.20,17.05,2022-01-22 20:50:00
239,2022-01-22 23:50:00,80.19,21.69,10.68,17.19,2022-01-22 21:50:00

In [9]:
quality.reset_index(inplace=True,drop=True)

In [10]:
data1=temperature.merge(quality,left_on="Time",right_on="dt",how="right")
data1

,Time,系统I温度 (Temperature of system I),系统II温度 (Temperature of system II),date,时间 (Time)_x,原矿参数1 (Mineral parameter 1),原矿参数2 (Mineral parameter 2),原矿参数3 (Mineral parameter 3),原矿参数4 (Mineral parameter 4),时间 (Time)_y,指标A (index A),指标B (index B),指标C (index C),指标D (index D),dt
0,2022-01-13 00:50:00,1173.63,813.92,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16,2022-01-13 02:50:00,78.15,26.21,12.93,14.59,2022-01-13 00:50:00
1,2022-01-13 01:50:00,854.55,767.64,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16,2022-01-13 03:50:00,78.39,25.22,12.93,14.28,2022-01-13 01:50:00
2,2022-01-13 02:50:00,855.34,767.99,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16,2022-01-13 04:50:00,79.22,24.60,12.41,13.70,2022-01-13 02:50:00
3,2022-01-13 03:50:00,853.57,766.20,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16,2022-01-13 05:50:00,79.52,23.88,11.55,13.56,2022-01-13 03:50:00
4,2022-01-13 04:50:00,854.81,768.08,2022-01-13,2022-01-13,49.24,90.38,46.13,28.16,2022-01-13 06:50:00,80.04,23.48,11.55,13.47,2022-01-13 04:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,2022-01-22 17:50:00,1406.05,932.16,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48,2022-01-22 19:50:00,79.76,22.00,11.72,18.84,2022-01-22 17:50:00
234,2022-01-22 18:49:00,1404.32,930.80,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48,2022-01-22 20:49:00,80.51,22.00,11.37,18.53,2022-01-22 18:49:00
235,2022-01-22 19:50:00,1404.68,930.64,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48,2022-01-22 21:50:00,80.16,21.78,10.85,17.90,2022-01-22 19:50:00
236,2022-01-22 20:50:00,1404.85,931.16,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48,2022-01-22 22:50:00,79.79,22.58,11.20,17.05,2022-01-22 20:50:00
237,2022-01-22 21:50:00,1404.76,931.28,2022-01-22,2022-01-22,54.74,93.05,49.03,21.48,2022-01-22 23:50:00,80.19,21.69,10.68,17.19,2022-01-22 21:50:00

In [11]:
data1.isnull().sum()

Time                                 3
系统I温度 (Temperature of system I)      3
系统II温度 (Temperature of system II)    3
date                                 3
时间 (Time)_x                          3
原矿参数1 (Mineral parameter 1)          3
原矿参数2 (Mineral parameter 2)          3
原矿参数3 (Mineral parameter 3)          3
原矿参数4 (Mineral parameter 4)          3
时间 (Time)_y                          0
指标A (index A)                        0
指标B (index B)                        0
指标C (index C)                        0
指标D (index D)                        0
dt                                   0
dtype: int64

In [12]:
data1.to_csv("1.csv",index=None)

In [13]:
import sys
!{sys.executable} -m pip install xgboost -i https://pypi.tuna.tsinghua.edu.cn/simple

'c:\users\taylor\appdata\roaming\microsoft\windows\start' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [15]:
data1.columns,data1.head()

(Index(['Time', '系统I温度 (Temperature of system I)',
        '系统II温度 (Temperature of system II)', 'date', '时间 (Time)_x',
        '原矿参数1 (Mineral parameter 1)', '原矿参数2 (Mineral parameter 2)',
        '原矿参数3 (Mineral parameter 3)', '原矿参数4 (Mineral parameter 4)',
        '时间 (Time)_y', '指标A (index A)', '指标B (index B)', '指标C (index C)',
        '指标D (index D)', 'dt'],
       dtype='object'),
                  Time  系统I温度 (Temperature of system I)  \
 0 2022-01-13 00:50:00                          1173.63
 1 2022-01-13 01:50:00                           854.55
 2 2022-01-13 02:50:00                           855.34
 3 2022-01-13 03:50:00                           853.57
 4 2022-01-13 04:50:00                           854.81

    系统II温度 (Temperature of system II)       date 时间 (Time)_x  \
 0                             813.92 2022-01-13  2022-01-13
 1                             767.64 2022-01-13  2022-01-13
 2                             767.99 2022-01-13  2022-01-13
 3                             766.20 2022-01-13  2022-01-13
 4                             768.08 2022-01-13  2022-01-13

    原矿参数1 (Mineral parameter 1)  原矿参数2 (Mineral parameter 2)  \
 0                        49.24                        90.38
 1                        49.24                        90.38
 2                        49.24                        90.38
 3                        49.24                        90.38
 4                        49.24                        90.38

    原矿参数3 (Mineral parameter 3)  原矿参数4 (Mineral parameter 4)  \
 0                        46.13                        28.16
 1                        46.13                        28.16
 2                        46.13                        28.16
 3                        46.13                        28.16
 4                        46.13                        28.16

           时间 (Time)_y  指标A (index A)  指标B (index B)  指标C (index C)  \
 0 2022-01-13 02:50:00          78.15          26.21          12.93
 1 2022-01-13 03:50:00          78.39          25.22          12.93
 2 2022-01-13 04:50:00          79.22          24.60          12.41
 3 2022-01-13 05:50:00          79.52          23.88          11.55
 4 2022-01-13 06:50:00          80.04          23.48          11.55

    指标D (index D)                  dt
 0          14.59 2022-01-13 00:50:00
 1          14.28 2022-01-13 01:50:00
 2          13.70 2022-01-13 02:50:00
 3          13.56 2022-01-13 03:50:00
 4          13.47 2022-01-13 04:50:00  )

In [16]:

data1.dropna(inplace=True)#删除NaN值
x=data1[["系统I温度 (Temperature of system I)","系统II温度 (Temperature of system II)", '原矿参数1 (Mineral parameter 1)', '原矿参数2 (Mineral parameter 2)',
        '原矿参数3 (Mineral parameter 3)', '原矿参数4 (Mineral parameter 4)',]]
y=data1[[ '指标A (index A)', '指标B (index B)', '指标C (index C)', '指标D (index D)']]
ya=data1[[ '指标A (index A)']]
yb=data1[[ '指标B (index B)']]
yc=data1[[ '指标C (index C)']]
yd=data1[[ '指标D (index D)']]

In [17]:
predict_date=np.array([[1404.89, 859.77,52.75,96.87,46.61,22.91],
               [1151.75, 859.77,52.75,96.87,46.61,22.91]])

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
import xgboost as xgb
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import StandardScaler
# from sklearn.svm import SVC
# from sklearn.decomposition import PCA
m1=xgb.XGBRegressor()

m1.fit(x,y)
m2=LinearRegression()
m2.fit(x,y)
m3=RandomForestRegressor()
m3.fit(x,y)
m4=DecisionTreeRegressor()
m4.fit(x,y)
# m5=GradientBoostingRegressor()
# m5.fit(x,y)
m6=KNeighborsRegressor()
m6.fit(x,y)

# pipe=Pipeline([('xianxing',LinearRegression()),('jueceshu',DecisionTreeRegressor()),('suiji',RandomForestRegressor())])
# pipe=Pipeline([('sc', StandardScaler()),('pca',PCA()),('svc',SVC())])
# #('sc', StandardScaler()) sc为自定义转换器名称，StandardScaler()为执行标准化任务的转换器
# pipe.fit(x,ya)

KNeighborsRegressor()

In [33]:

print("xgbboost决定系数R^2:{},预测结果:{}".format(m1.score(x,y),m1.predict(date)))
print("LinearRegression决定系数R^2:{},预测结果:{}".format(m2.score(x,y),m2.predict(date)))
print("RandomForestRegressor决定系数R^2:{},预测结果:{}".format(m3.score(x,y),m3.predict(date)))
print("DecisionTreeRegressor决定系数R^2:{},预测结果:{}".format(m4.score(x,y),m4.predict(date)))
# print("GradientBoostingRegressor决定系数R^2:{},预测结果:{}".format(m5.score(x,y),m5.predict(date)))
print("KNeighborsRegressor决定系数R^2:{},预测结果:{}".format(m6.score(x,y),m6.predict(date)))

xgbboost决定系数R^2:0.9978807966838016,预测结果:[[80.04285   23.409067  11.270233  15.5500965]
 [79.427605  23.333471  12.121448  15.874709 ]]
LinearRegression决定系数R^2:0.1846950894921117,预测结果:[[79.95016806 23.14492194 11.44955764 16.64649246]
 [80.04996981 23.11631261 11.90101895 16.9850019 ]]
RandomForestRegressor决定系数R^2:0.9042497854494425,预测结果:[[80.0826 22.9241 11.4115 16.7571]
 [79.858  23.1866 11.8433 15.5829]]
DecisionTreeRegressor决定系数R^2:1.0,预测结果:[[81.88 21.42 10.16 13.03]
 [79.22 24.15 12.59 13.07]]
KNeighborsRegressor决定系数R^2:0.5471863294854158,预测结果:[[81.404 21.17  10.404 16.588]
 [79.66  23.158 12.204 15.586]]

c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(
c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [37]:
'''第二问遵循第一问的做法，重新赋值'''
X=data1[[ '原矿参数1 (Mineral parameter 1)', '原矿参数2 (Mineral parameter 2)','原矿参数3 (Mineral parameter 3)', '原矿参数4 (Mineral parameter 4)','指标A (index A)', '指标B (index B)', '指标C (index C)', '指标D (index D)']]
Y=data1[[ "系统I温度 (Temperature of system I)","系统II温度 (Temperature of system II)"]]

In [38]:
predict_date22=np.array([[57.5,108.62,44.5,20.09,79.17,22.72,10.51,17.05],
                         [57.5,108.62,44.5,20.09,80.10,23.34,11.03,13.29]])
m11=xgb.XGBRegressor()
m11.fit(X,Y)
m22=LinearRegression()
m22.fit(X,Y)
m33=RandomForestRegressor()
m33.fit(X,Y)
m44=DecisionTreeRegressor()
m44.fit(X,Y)
# m5=GradientBoostingRegressor()
# m5.fit(x,y)
m66=KNeighborsRegressor()
m66.fit(X,Y)

print("xgbboost决定系数R^2:{},预测结果:{}".format(m11.score(X,Y),m11.predict(predict_date22)))
print("LinearRegression决定系数R^2:{},预测结果:{}".format(m22.score(X,Y),m22.predict(predict_date22)))
print("RandomForestRegressor决定系数R^2:{},预测结果:{}".format(m33.score(X,Y),m33.predict(predict_date22)))
print("DecisionTreeRegressor决定系数R^2:{},预测结果:{}".format(m44.score(X,Y),m44.predict(predict_date22)))
# print("GradientBoostingRegressor决定系数R^2:{},预测结果:{}".format(m5.score(x,y),m5.predict(date)))
print("KNeighborsRegressor决定系数R^2:{},预测结果:{}".format(m66.score(X,Y),m66.predict(predict_date22)))

xgbboost决定系数R^2:0.9999968360674234,预测结果:[[1219.9695  781.4785]
 [1141.7643  790.0348]]
LinearRegression决定系数R^2:0.26213003592926853,预测结果:[[1011.75999988  761.58819122]
 [1014.05718782  776.8660124 ]]
RandomForestRegressor决定系数R^2:0.9529687274344028,预测结果:[[1390.0586  859.1476]
 [1244.8469  808.879 ]]
DecisionTreeRegressor决定系数R^2:1.0,预测结果:[[1403.04  874.45]
 [1136.42  816.57]]
KNeighborsRegressor决定系数R^2:0.7995232301476041,预测结果:[[1000.654  760.666]
 [ 891.794  756.842]]

c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(
c:\users\taylor\appdata\roaming\microsoft\windows\start menu\programs\python 3.9\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(